<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.2/vue.js"></script>


<style>
body {
  margin: 100px auto;
  width: 300px;
  font-size: 10pt;
  line-height: 2;
}
h1 {
  text-align: center;
  font-size: 20px;
}
input {
  margin: 10px 0;
  padding: 10px;
  display: block;
  width: 100%;
}
</style>
<script>
const el = '#app';

const fieldNames = {
  user: 'ユーザ名',
  pass: 'パスワード',
  pass_check: 'パスワード確認'
};

const data = {
  step: 0,
  errorMsg: '',
  user: '',
  pass: '',
  pass_check: '',
  names: {
    user: 'ユーザ名',
    pass: 'パスワード',
    pass_check: 'パスワード確認'
  },
  changeStep(step) {
    if(step === 1){
      if(!data.validateForm()){
        return;
      }
    }
    data.step = step;
  },
  getHiddenPass() {
    return Array(data.pass.length).fill('*').join('')
  },
  validateForm() {
    const errorId = Object.keys(data.names).find(id => {
      return data[id] === '';
    });
    if(errorId){
      data.errorMsg = data.names[errorId] + 'が入力されてません。';
  //  data.errorMsg = data.names[errorId] + 'を入力してください！';
      return false;
    }
    return true;
  }
};

const template = `
  <div>
    <div v-if="step === 0">
      <h1>ユーザ情報の入力</h1>
      <form name="register" onSubmit="return false">
        <input v-model="user" :placeholder="names.user" name="user" class="user"/>
        <input v-model="pass" :placeholder="names.pass" name="pass" class="pass"/>
        <input v-model="pass_check" :placeholder="names.pass_check" name="pass_check" class="pass_check"/>
        <div v-if="errorMsg" class="error">{{errorMsg}}</div>
        <button v-on:click="changeStep(1)" class="goNextPage">NEXT</button>
      </form>
    </div>
    <div v-if="step === 1">
      <h1>ユーザ情報の確認</h1>
      <p>ユーザ名: {{user}}</p>
      <p>パスワード: {{getHiddenPass()}}</p>
      <button v-on:click="changeStep(2)" class="goLastPage">NEXT</button>
    </div>
    <div v-if="step === 2">
      <h1 class="message">登録が完了しました</h1>
    </div>
  </div>
`;

new Vue({el, template, data});
</script>
  </body>
</html>
